@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './styles/utils.scss';

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

a,
a:hover,
a:visited {
	color: $secondary-color;
	text-decoration: none;
}
