%button-reset {
	padding: 0;
  	border: none;
  	font: inherit;
  	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

$primary-color: rgb(58, 54, 66);
$secondary-color: rgb(238, 238, 238);
$lighter-color: rgb(72, 80, 80);
